<!-- BreadCrumb starts -->
<ul class="breadcrumb">
  <li routerLink="/dashboard">
    <a class="app-link">DashBoard</a>
  </li>
  <li routerLink="/admin/dashboard">
    <a class="app-link">Admin Center</a>
  </li>
  <li routerLink="/admin/manage">
    <a class="app-link">Manage Data</a>
  </li>
  <li routerLink="/admin/manage/department">
    <a class="active app-link">Manage Department</a>
  </li>
</ul>
<!-- BreadCrumb ends -->

<!-- Body starts -->
<div class="row">
  <!-- Form Starts -->
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading separator">
        <div class="panel-title">Add Department</div>
      </div>
      <div class="panel-body">
        <br/>
        <form role="form" novalidate>
            <div class="form-group form-group-default ">
                <label>Name</label>
                <input type="text" class="form-control" required>
            </div>
            <div class="form-group form-group-default ">
                <label>Code</label>
                <input type="text" class="form-control" required>
            </div>
            <div class="form-group form-group-default ">
                <label>Effective From</label>
                <input type="text" class="form-control" required>
            </div>
            <div class="p-t-10">
                <button class="btn btn-cons pull-left">
                    <span>Cancel</span>
                </button>
                <button class="btn btn-cons btn-success btn-animated from-top fa fa-check pull-right">
                    <span>Save</span>
                </button>
            </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Form Ends -->

  <div class="col-sm-8">
    <!-- Search Bar Starts-->
    <app-search-bar></app-search-bar>
    <!-- Search Bar Ends-->

    <!-- Object Listing Starts -->
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default panel-condensed">
                <div class="panel-heading">
                    <div class="panel-title">FM00X1</div>
                    <div class="pull-right panel-title">
                        <span class="app-pointer"><i class="fa fa-pencil fa-lg p-r-10"></i></span>
                        <span class="app-pointer"><i class="fa fa-trash-o fa-lg"></i></span>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="thumbnail-wrapper d39 circular bg-danger text-white inline">
                        <div class="bold">F</div>
                    </div>
                    <div class="p-l-15 p-t-10 inline">
                        <span class="semi-bold fs-14">Finance Management</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- TODO: Need to Remove-->
        <div class="col-sm-4">
            <div class="panel panel-default panel-condensed">
                <div class="panel-heading">
                    <div class="panel-title">FM00X1</div>
                    <div class="pull-right panel-title">
                        <span class="app-pointer"><i class="fa fa-pencil fa-lg p-r-10"></i></span>
                        <span class="app-pointer"><i class="fa fa-trash-o fa-lg"></i></span>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="thumbnail-wrapper d39 circular bg-danger text-white inline">
                        <div class="bold">H</div>
                    </div>
                    <div class="p-l-15 p-t-10 inline">
                        <span class="semi-bold fs-14">Human Resource</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="panel panel-default panel-condensed">
                <div class="panel-heading">
                    <div class="panel-title">FM00X1</div>
                    <div class="pull-right panel-title">
                        <span class="app-pointer"><i class="fa fa-pencil fa-lg p-r-10"></i></span>
                        <span class="app-pointer"><i class="fa fa-trash-o fa-lg"></i></span>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="thumbnail-wrapper d39 circular bg-danger text-white inline">
                        <div class="bold">F</div>
                    </div>
                    <div class="p-l-15 p-t-10 inline">
                        <span class="semi-bold fs-14">Finance Management</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="panel panel-default panel-condensed">
                <div class="panel-heading">
                    <div class="panel-title">FM00X1</div>
                    <div class="pull-right panel-title">
                        <span class="app-pointer"><i class="fa fa-pencil fa-lg p-r-10"></i></span>
                        <span class="app-pointer"><i class="fa fa-trash-o fa-lg"></i></span>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="thumbnail-wrapper d39 circular bg-danger text-white inline">
                        <div class="bold">H</div>
                    </div>
                    <div class="p-l-15 p-t-10 inline">
                        <span class="semi-bold fs-14">Human Resource</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- TODO: Need to Remove-->
    </div>
    <!-- Object Listing Ends -->
  </div>
</div>
<!-- Body Ends -->