<!-- BreadCrumb starts -->
<ul class="breadcrumb">
  <li routerLink="/dashboard">
    <a class="app-link">DashBoard</a>
  </li>
  <li routerLink="/admin/dashboard">
    <a class="app-link">Admin Center</a>
  </li>
  <li routerLink="/admin/manage">
    <a class="app-link">Manage Data</a>
  </li>
  <li routerLink="/admin/manage/department">
    <a class="active app-link">Manage Department</a>
  </li>
</ul>
<!-- BreadCrumb ends -->

<!-- Body starts -->
<div class="row">
  <!-- Form Starts -->
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading separator">
        <div class="panel-title">Add Department</div>
      </div>
      <div class="panel-body">
        <br/>
        <form role="form" novalidate>
            <div class="form-group form-group-default ">
                <label>Name</label>
                <input type="text" class="form-control" required>
            </div>
            <div class="form-group form-group-default ">
                <label>Code</label>
                <input type="text" class="form-control" required>
            </div>
            <div class="form-group form-group-default ">
                <label>Effective From</label>
                <input type="text" class="form-control" required>
            </div>
            <div class="p-t-10">
                <button class="btn btn-cons btn-rounded btn-danger btn-animated from-left fa fa-trash-o pull-left">
                    <span>Delete</span>
                </button>
                <button class="btn btn-cons btn-rounded btn-success btn-animated from-left fa fa-check pull-right">
                    <span>Save</span>
                </button>
            </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Form Ends -->

  <div class="col-sm-8">
    <!-- Search Bar Starts-->
    <app-search-bar></app-search-bar>
    <!-- Search Bar Ends-->

    <!-- Object Listing Starts -->
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default bg-danger app-floter app-pointer">
                <div class="panel-body text-center semi-bold fs-14 text-white">
                    Computer Sicence
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="panel panel-default bg-danger app-floter app-pointer">
                <div class="panel-body text-center semi-bold fs-14 text-white">
                    Information Technology
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default bg-danger app-floter app-pointer">
                <div class="panel-body text-center semi-bold fs-14 text-white">
                    Electronics & Tele-Com
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default bg-danger app-floter app-pointer">
                <div class="panel-body text-center semi-bold fs-14 text-white">
                    Machanical
                </div>
            </div>
        </div>
    </div>
    <!-- Object Listing Ends -->
  </div>
</div>
<!-- Body Ends -->