<!--Body starts-->
<div class="social-wrapper">
  <div class="social" data-pages="social">
    <!-- START JUMBOTRON -->
    <div class="jumbotron" data-pages="parallax" data-social="cover">
      <div class="cover-photo">
        <img alt="Cover photo" src="assets/imgs/social-cover.png"/>
      </div>
      <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
        <div class="inner">
          <div class="pull-bottom text-center" style="width: 100%">
            <div class="social-user-profile center-block" style="width: 100%">
              <img class="thumbnail-wrapper circular bordered b-white" src="assets/imgs/profile.jpg" alt=""
                   data-src="assets/imgs/profile.jpg" data-src-retina="assets/imgs/profile.jpg" width="180" height="180">
            </div>
            <div class="m-b-20">
              <h2 class="text-white no-margin bold">Daenerys Targaryen</h2>
              <h5 class="text-white no-margin">Class 10th | Section A</h5>
              <h5 class="text-white no-margin">dany.targaryen@gmail.com | +91-9876543210</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END JUMBOTRON -->
  </div>
</div>
<!--Body ends-->
