<ul class="breadcrumb">
  <li class="app-link" routerLink="/dashboard">
    DashBoard
  </li>
  <li class="app-link" routerLink="/admin/dashboard">
    Admin Center
  </li>
   <li>
    <a href class="active">Object Definition</a>
  </li>
</ul>
<div class="panel panel-default app-card">
    <div class="panel-body row">
      <div class="col-xs-1">
        <div class="pull-right">
          <i class="fa fa-search fa-2x"></i>
        </div>
      </div>
      <div class="col-xs-11">
        <input class="app-card-search">
      </div>
    </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <div class="panel panel-default app-card bg-success">
      <div class="panel-body text-white text-center">
        <div class="app-card-heading">
          Department
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="panel panel-default app-card bg-success">
      <div class="panel-body text-white text-center">
        <div class="app-card-heading">
          Division 
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="panel panel-default app-card bg-success">
      <div class="panel-body text-white text-center">
        <div class="app-card-heading">
          Student 
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="panel panel-default app-card bg-success">
      <div class="panel-body text-white text-center">
        <div class="app-card-heading">
          Branch   
        </div>
      </div>
    </div>
  </div>
</div>