<!-- BreadCrumb starts -->
<ul class="breadcrumb">
  <li routerLink="/dashboard">
    <a class="app-link">DashBoard</a>
  </li>
  <li routerLink="/admin/dashboard">
    <a class="app-link">Admin Center</a>
  </li>
  <li routerLink="/admin/manage">
    <a class="active app-link">Manage Data</a>
  </li>
</ul>
<!-- BreadCrumb ends -->

<!-- Body starts -->
<div class="row m-t-20">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <app-search-bar></app-search-bar>
  </div>
  <div class="col-sm-3"></div>
</div>

<!-- Object Listing Starts-->
<div class="row">
  <!-- Branch -->
  <div class="col-sm-3">
    <div class="panel panel-transparent">
      <div class="panel-body">
        <div class="thumbnail-wrapper d48 circular bg-success text-white inline app-pointer">
          <div class="bold">B</div>
        </div>
        <div class="p-l-15 inline">
          <h5 class="m-b-5 app-pointer"><span class="semi-bold">Branch</span></h5>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Department -->
  <div class="col-sm-3">
    <div class="panel panel-transparent" routerLink="/admin/manage/department">
      <div class="panel-body">
        <div class="thumbnail-wrapper d48 circular bg-success text-white inline app-pointer">
          <div class="bold">D</div>
        </div>
        <div class="p-l-15 inline">
          <h5 class="m-b-5 app-pointer"><span class="semi-bold">Department</span></h5>
        </div>
      </div>
    </div>
  </div>

  <!-- Division -->
  <div class="col-sm-3">
    <div class="panel panel-transparent">
      <div class="panel-body">
        <div class="thumbnail-wrapper d48 circular bg-success text-white inline app-pointer">
          <div class="bold">D</div>
        </div>
        <div class="p-l-15 inline">
          <h5 class="m-b-5 app-pointer"><span class="semi-bold">Division</span></h5>
        </div>
      </div>
    </div>
  </div>

  <!-- Subject -->
  <div class="col-sm-3">
    <div class="panel panel-transparent">
      <div class="panel-body">
        <div class="thumbnail-wrapper d48 circular bg-success text-white inline app-pointer">
          <div class="bold">S</div>
        </div>
        <div class="p-l-15 inline">
          <h5 class="m-b-5 app-pointer"><span class="semi-bold">Subject</span></h5>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Object Listing Ends-->
<!-- Body Ends -->