<!-- BreadCrumb starts -->
<ul class="breadcrumb">
  <li routerLink="/dashboard">
    <a class="app-link">DashBoard</a>
  </li>
  <li routerLink="/admin/dashboard">
    <a class="app-link">Admin Center</a>
  </li>
  <li routerLink="/admin/manage">
    <a class="active app-link">Manage Data</a>
  </li>
</ul>
<!-- BreadCrumb ends -->

<!-- Body starts -->
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <app-search-bar></app-search-bar>
  </div>
  <div class="col-sm-3"></div>
</div>

<!-- Object Listing Starts-->
<div class="row">
    <div class="panel panel-default col-sm-2">
    <div class="panel-heading text-center">
        <div class="panel-title">Basic Portlets
        </div>
    </div>
</div>
</div>
<!-- Object Listing Ends-->
<!-- Body Ends -->