<ul class="breadcrumb">
  <li class="app-link" routerLink="/dashboard">
    <p>DashBoard</p>
  </li>
  <li routerLink="/admin/dashboard">
    <a class="active app-link">Admin Center</a>
  </li>
</ul>
<div class="row">
  <div class="col-sm-2">
    <div class="panel panel-default bg-success app-tile" routerLink="/admin/manage">
     <div class="panel-body text-white text-center">
        <div class="app-tile-heading" style="margin-top: 110px;">
          Manage Data
        </div>
      </div>
    </div>
  </div>
</div>