<ul class="breadcrumb">
  <li class="app-link" routerLink="/dashboard">
    DashBoard
  </li>
  <li>
    <a href   class="active">Admin Center</a>
  </li>
</ul>

<div class="row">
  <div class="col-sm-2">
    <div class="panel panel-default app-card app-card-2x bg-success" routerLink="/admin/configure-objects">
      <div class="panel-body text-white text-center">
        <div class="app-card-heading" style="margin-top: 100px;">
          Object Definitions
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="panel panel-default app-card app-card-2x bg-danger" routerLink="/admin/manage-objects">
      <div class="panel-body text-white text-center">
        <div class="app-card-heading"  style="margin-top: 100px;">
          Manage Objects
        </div>
      </div>
    </div>
  </div>
</div>

